<a href="https://colab.research.google.com/github/clarenznet/datascienceminiprojects/blob/main/Sampleqrserialsplitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sample QR serials splitter with python**

*seeking authorization*

In [ ]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

*starting to import libraries*

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

*getting data from sheets now*

In [ ]:
#using url 
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1OhW3nomBlPLKP4P2cZ58qXYbRl7tl9HUz3Vg81IwsKU/edit#gid=0')

sheet = wb.worksheet('PCBQRCODES')
data = sheet.get_all_values()
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]
df.head()

0 Idnumber                                             Serial
1      124  P/N:S2-10686-Z1L1E;SN:MP061851297D10F;IMEI:867...
2      251  P/N:S2-10686-Z1L1E;SN:MP061845263EF75;IMEI:869...
3      255  P/N:S2-10686-Z1L1E;SN:MP0618512978F71;IMEI:867...
4      988  P/N:S2-10686-Z1L1D;SN:MP0619132DE37D2;IMEI:862...
5      555  P/N:S2-10686-Z1L1E;SN:MP0618452641134;IMEI:869...
6      895  P/N:S2-10686-Z1L1E;SN:MP0618452641134;IMEI:869...

0 Idnumber  ...                       SW
1      124  ...   SW:1418B08SIM800C24_BT
2      251  ...   SW:1418B08SIM800C24_BT
3      255  ...   SW:1418B08SIM800C24_BT
4      988  ...                     None
5      555  ...   SW:1418B08SIM800C24_B5
6      895  ...  SW:1418B08SIM800C24_BT0

[6 rows x 7 columns]

In [ ]:
# dropping null value columns to avoid errors 
df.dropna(inplace = True)

*splitting serial data into columns*

In [ ]:
splitDf=df
#df = df["Serial"].split(";",n=1,expand =True) 
#splitDf['PN'] = splitDf['Serial'].str.split(';').str[0]
#splitDf['SN'] = splitDf['Serial'].str.split(';').str[1]

print (splitDf)

df1 = splitDf
df1[['PN','SN','IMEI','BTMAC','SW']] = df['Serial'].str.split(';',expand=True)
df1

0 Idnumber  ...                IMEI
1      124  ...  P/N:S2-10686-Z1L1E
2      251  ...  P/N:S2-10686-Z1L1E
3      255  ...  P/N:S2-10686-Z1L1E
4      988  ...  P/N:S2-10686-Z1L1D
5      555  ...  P/N:S2-10686-Z1L1E
6      895  ...  P/N:S2-10686-Z1L1E

[6 rows x 3 columns]

0 Idnumber  ...                       SW
1      124  ...   SW:1418B08SIM800C24_BT
2      251  ...   SW:1418B08SIM800C24_BT
3      255  ...   SW:1418B08SIM800C24_BT
4      988  ...                     None
5      555  ...   SW:1418B08SIM800C24_B5
6      895  ...  SW:1418B08SIM800C24_BT0

[6 rows x 7 columns]